@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

@layer components {
  .card {
    @apply relative overflow-hidden p-0.5;
  }
  
  .card-overlay {
    @apply z-10 opacity-90 absolute w-full bottom-0 h-1/4 transition duration-300 p-4 flex items-center justify-center;
    background-image: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0.1));
  }
  
  .card-media {
    @apply zoom-in-transition aspect-square object-cover overflow-hidden;
  }
  
  .card::after {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    transition: opacity 3s cubic-bezier(0.23, 1, 0.32, 1), height 3s cubic-bezier(0.23, 1, 0.32, 1);
    @apply content-[''] h-full w-full inset-0 opacity-0 absolute;
  }
  
  .card:hover .card-media {
    transform: scale(1.1);
    transform-origin: 50% 50%;
  }
  
  .card:hover::after {
    @apply opacity-100;
  }
}

@layer utilities {
  .zoom-in-transition {
    transition: transform 8s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
